<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method="post" action="/user/add">
    <div>
        <label>Name
            <input type="text" name="username">
        </label>
    </div>
    <div>
        <label>Email
            <input type="email" name="email">
        </label>
    </div>
    <div>
        <label>Password
            <input type="password" name="password">
        </label>
    </div>
    <div>
        <label>Confirm Password
            <input type="password" name="password">
        </label>
    </div>
</form>



</body>
</html>